/* Need Help? Join my discord @ discord.gg/yWddFpQ */
:root {
    --background-contrast: 95%;
    --background-blur: 3px;
    --loadbar-color: #000000;
    --loadbar-progress-color: #ffffff;
    --loadbar-height: 27px;
    --footer-font-color: #ffffff;
    --footer-font-size: 25px;
    --fadeTo-Color: #222222;
}
